{% extends "header.html" %}
{% block body %}



<body class="body">

<!--<div class="list-group">
  <a href="#" class="list-group-item active">
    <h3 style="color:#FFF">Beginner to advanced Python tutorials, your way.</h3>

  </a>
</div>-->

      <div class="container" align="left">
	  <img src="{{ url_for('static', filename='images/405.jpg') }}">
	  
	  </div>
	  <div class="container" align="left">
	  
        <h4>Method Not Found</h4>
        <p>Check the get and posts and see wheter or not you have permission to execute them.</p>
		<br>
        <p><a class="btn btn-primary btn-lg" onclick="goBack()" role="button">Go Back!</a></p>
		
      </div>

</body>
{% endblock %}

