{% extends "header.html" %}
{% block body %}
	<body>
	  
		<div class="container">
			<br>
			<h3>Por favor inicie sesión:</h3>
			<br>
			<form action="" class="form-inline" method="POST">
				<input type="text" class="form-control" placeholder="Username" 
				name="username" value="{{request.form.username}}">
				<input type="password" class="form-control" placeholder="Password" 
				name="password" value="{{request.form.password}}">
				<input class="btn btn-default" type="submit" value="Login">
			</form>
			<br>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
		<p>Debe iniciar sesión para iniciar a jugar, si no tiene cuenta debe de registrar una.</p>
		<div class="container">
			<br><p>No tiene cuenta? <a href='/register'>Registre una aquí</a>.</p>
			<br>
			{% for paragraph in Body_info %}
			<p>{{ paragraph }}</p>
			{% endfor %}
		</div>

		</div>

	</body>
{% endblock %}
