{% extends "header.html" %}
{% block body %}



<body class="body">

      
	  <div class="container" align="center">
		
        <center><script src="../static/js/pong.js"></script></center>
		
        <center> <a href= " /dashboard/"><button type= "button" class= "btn btn-primary" aria-label= "Left Align"
			style= "margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
			<span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Volver a la página principal!
		</button></a>
		</center>
      </div>
	
	
</body>
{% endblock %}
